@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.About {
  width: 89%;
  padding: 40px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border: 1px solid #8c8888;
  border-radius: 5px;
  background-color: #f8edd1;
  box-shadow: -2px -2px 8px #2a333d;
}

.Avatar {
  width: 30%;
  height: 100%;
  border-radius: 15px;
  margin-right: 5%;
  object-fit: cover;
}

.AboutInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 66%;
}

.iconsBox {
  display: flex;
  flex-direction: column;
  width: 117px;
  height: 100%;
}

.title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 38px;
  margin: 0 0 10px 0;
  padding: 0;
}

.subTitle {
  width: 95%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  margin: 0 0 10px 0;
  padding: 0;
}

.Contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}

.ContactsMail, .ContactsTel {
  padding: 8px 26px;
  position: relative;
  text-decoration: none;
  color: #000;
  filter: grayscale(1);
  opacity: 0.8;
}

.ContactsMail:hover, .ContactsTel:hover {
  filter: grayscale(0);
  color: #2020ef;
  opacity: 1;
}

.ContactsMail:before {
  position: absolute;
  content: '';
  width: 19px;
  height: 44%;
  left: 0;
  background: url("gmail.png") no-repeat;
  background-size: 100%;
}

.ContactsTel:before {
  position: absolute;
  content: '';
  width: 19px;
  height: 44%;
  left: 0;
  background: url("telegram.png") no-repeat;
  background-size: 100%;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.github, .linkedin {
  width: 39px;
  height: 40px;
  filter: grayscale(1);
  opacity: 0.6;
}

.github:hover, .linkedin:hover {
  filter: grayscale(0);
  opacity: 1;
}

.github {
  background: url("github.png") no-repeat;
  background-size: 85%;
}

.linkedin {
  background: url("linkedin.png") no-repeat;
  background-size: 85%;
}

.content {
  width: 89%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #8c8888;
  border-radius: 5px;
  background-color: #f8edd1;
  box-shadow: -2px -2px 8px #2a333d;
}

li {
  list-style-type: none;
}

.repo__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language {
  position: relative;
  min-width: 80px;
  padding-left: 22px;
  margin: 0 16px 0 0;
}

.html:before, .css:before, .js:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.html:before {
  background: #e34c26;
}

.css:before {
  background: #563d7c;
}

.js:before {
  background: #ffdc5a;
}

.star {
  position: relative;
  margin: 0 18px 0 0;
  padding-left: 22px;
  font-size: 12px;
  line-height: 0;
  color: #999999;
}

.star:before {
  content: url("Star.svg");
  position: absolute;
  left: 2px;
  bottom: -6px;
  height: 15px;
  width: 15px;
}

.fork {
  position: relative;
  padding-left: 22px;
  margin: 0 15px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
}

.fork:before {
  content: url("Fork.svg");
  position: absolute;
  left: 2px;
  bottom: 5px;
  height: 11px;
  width: 15px;
}

.repoList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 5px 0;
  margin-bottom: 10px;
}

.repoLinks {
  text-decoration: none;
  color: #000;
  padding: 1% 5% 1% 5%;
  width: 67%;
  transition: .5s;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0, .5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.repoHold {
  text-decoration: none;
  color: #000;
  padding: 1% 7% 1% 5%;
  width: 45px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  transition: .5s;
  border-radius: 15px;
  animation: flash 1.3s ease-in-out infinite alternate-reverse;
  box-shadow: 0 5px 20px rgba(0,0,0, .5);
}

.repoLinks:hover, .repoHold:hover {
  background-color: #8db7f3;
  cursor: pointer;
}

 @keyframes flash {
  0%, 50%, 100% {
    transform: rotate(0deg); 
  }
  10%, 30% {
    transform: rotate(-5deg);
  }
  20%, 40% {
    transform: rotate(5deg);
  }
}

.repoName {
  font-weight: bolder;
}

.repo {
  padding: 0;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.arrows button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity .5s;
}

.arrows button:hover {
  opacity: 0.8;
}

.arrows button:disabled {
  opacity: 0.2;
  cursor: default;
}

.arrow__left {
  transform: rotate(180deg);
  width: 30px;
}

.arrow__right {
  width: 30px;
}

.repoHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1131px) {
  .repoHold {
    width: 8%;
  }

  .title {
    font-size: 35px;
  }
}

@media (max-width: 1108px) {
  .repoList {
    font-size: 13px;
  }
}

@media (max-width: 835px) {
  .About {
    padding: 25px;
  }

  .content {
    padding: 25px;
  }

  .title {
    font-size: 28px;
  }

  .subTitle {
    font-size: 13px;
    width: 80%;
  }

  .Contacts {
    font-size: 15px;
  }

  .repoList {
    font-size: 11px;
  }

  .github, .linkedin {
    width: 4.5vw;
    height: 4.5vw;
  }

  .ContactsMail, .ContactsTel {
    padding: 2px 26px;
  }

  .ContactsMail:before {
    width: 17px;
    height: 100%;
  }
  
  .ContactsTel:before {
    width: 17px;
    height: 100%;
  }

  @media (max-width: 690px) {
    .About {
      width: 89%;
    }

    .title {
      font-size: 25px;
    }

    .subTitle {
      font-size: 11px;
      width: 100%;
    }
  
    .Contacts {
      font-size: 12px;
    }

    .ContactsMail, .ContactsTel {
      padding: 2px 20px;
    }

    .ContactsMail:before {
      width: 13px;
      height: 100%;
    }
    
    .ContactsTel:before {
      width: 13px;
      height: 100%;
    }

    .content {
      width: 89%;
    }

    .repoHeader {
      font-size: 3vw;
    }
  }

  @media (max-width: 520px) { 
    .About {
      width: 85%;
      flex-direction: column;
      align-items: center;
    }

    .Avatar {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }

    .AboutInfo {
      flex-direction: column;
      width: 95%;
      align-items: center;
      justify-content: center;
    }

    .AboutInfo__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .icons {
      flex-direction: row;
      justify-content: space-between;
    }

    .iconsBox {
      width: 100%;
    }

    .title {
      font-size: 8.2vw;
    }

    .subTitle {
      text-align: center;
      font-size: 3.7vw;
      margin-bottom: 20px;
    }

    .Contacts {
      font-size: 3.7vw;
    }

    .github, .linkedin {
      width: 8.5vw;
      height: 8.5vw;
    }

    .ContactsMail, .ContactsTel {
      padding: 4px 32px;
    }

    .ContactsMail:before {
      width: 20px;
      height: 100%;
    }
    
    .ContactsTel:before {
      width: 20px;
      height: 100%;
    }

    .content {
      width: 85%;
    }

    .arrow__left, .arrow__right {
      width: 6vw;
    }

    .repoHold {
      width: 31px;
      padding: 0px 16px 0 5px;
      height: 20px;
      line-height: 20px;
    }

    .repoLinks {
      width: 75%;
      padding: 12px;
    }

    .repoName {
      margin-bottom: 5px;
    }

    .repoList {
      width: 100%;
    }

    .css:before, .js:before {
      bottom: 0;
    }

    .language {
      min-width: 43px;
      padding-left: 20px;
    }

    .star {
      margin: 0;
    }
  }

  @media (max-width: 450px) { 
    .repoLinks {
      width: 71%;
      padding: 12px;
    }

    .repoList {
      width: 104%;
    }
  }

  @media (max-width: 330px) {
    .About {
      width: 82%;
    }

    .content {
      width: 91%;
      padding: 11px;
    }
  }
}